<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Identifiers.org</title>
    <script type="application/javascript">
        // Environment
        var resolverHost = "{{resolver_host}}";
        var resolverPort = "{{resolver_port}}";
    </script>
    <script type="application/javascript"
            src="http://js-identifiers-org.s3.us-east-1.amazonaws.com/identifiersjs/identifiers.js" async>
    </script>
    <script type="application/javascript" src="/static/js/app_search_home.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/app_search_home.css">
</head>
<body>
<nav id="navbar" class="navbar navbar-light bg-light">
    <div id="navbar_search_area" class="row justify-content-center align-items-center">
        <div id="navbar_logo_area" class="col-xs-5" style="margin: 0px -10px 5px 15px">
            <a class="navbar-brand" href="#">
                <img src="static/img/identifiers_logo.png" width="30" height="30" alt="">
            </a>
        </div>
        <div id="navbar_logo_text" class="col-xs-5" style="margin: 5px 0px 0px 0px">
            <h3>Identifiers.org</h3>
        </div>
        <div id="navbar_search_box" class="col-xs-5">
            <form id="navbar_resolution_form" method="post">
                <input id="navbar_resolve_input_box" name="compact_id"
                       placeholder="Enter a Compact ID, e.g. CHEBI:36927 and press Enter"
                       style="min-width: 390px; max-width: 410px;width: 60vh; margin: 15px 0px 15px 0px"/>
                <button id="navbar_btn_resolve" type="button" name="btn_resolve">Resolve</button>
                <button id="navbar_btn_resolve_lucky" type="button" name="btn_resolve_lucky">I'm gonna be
                    lucky
                </button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div style="height: 100vh">
        <div class="row v-100 h-100 justify-content-center align-items-center">
            <div id="search_area">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xs-5">
                        <div id="logo_resolve" style="margin: 0px 10px 10px 0px"><img
                                src="static/img/identifiers_logo.png">
                        </div>
                    </div>
                    <div class="col-xs-5" style="margin: 5px 0px 0px 0px">
                        <div id="logo_text"><h1>Identifiers.org</h1></div>
                    </div>
                </div>
                <div class="row" style="margin: 0px 0px 25px 0px">
                    <div id="search_box">
                        <form id="resolution_form" method="post">
                            <div class="row">
                                <div class="col-xs-4">
                                    <input id="resolve_input_box" name="compact_id"
                                           placeholder="Enter a Compact ID, e.g. CHEBI:36927 and press Enter"
                                           style="min-width: 410px; max-width: 440px;width: 60vh; margin: 0px 0px 15px 0px"/>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="col-xs-4">
                                    <button id="btn_resolve" type="button" name="btn_resolve">Resolve</button>
                                    <button id="btn_resolve_lucky" type="button" name="btn_resolve_lucky">I'm gonna be
                                        lucky
                                    </button>
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="container"> -->
            <div class="row">
                <div id="message_banner" hidden></div>
            </div>
            <div class="row">
                <div id="resolution_results"></div>
            </div>
        </div>
    </div>
</body>
</html>