<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Identifiers.org</title>
    <script type="application/javascript">
        // Environment
        var resolverHost = "{{resolver_host}}";
        var resolverPort = "{{resolver_port}}";
    </script>
    <script type="application/javascript"
            src="http://js-identifiers-org.s3.us-east-1.amazonaws.com/identifiersjs/identifiers.js" async>
    </script>
    <script type="application/javascript" src="/static/js/app_search_home.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<div style="height: 100vh">
    <div class="row v-100 h-100 justify-content-center align-items-center">
        <div id="search_area">
            <div class="row justify-content-center align-items-center">
                <div class="col-xs-5">
                    <div id="logo_resolve" style="margin: 0px 10px 10px 0px"><img src="static/img/identifiers_logo.png">
                    </div>
                </div>
                <div class="col-xs-5" style="margin: 5px 0px 0px 0px">
                    <div id="logo_text"><h1>Identifiers.org</h1></div>
                </div>
            </div>
            <div class="row">
                <div id="search_box">
                    <form id="resolution_form" method="post">
                        <div class="row">
                            <div class="col">
                                <input id="resolve_input_box" name="compact_id"
                                       placeholder="Enter a Compact ID, e.g. CHEBI:36927 and press Enter"
                                       style="width: 100vh; margin: 0px 0px 15px 0px"/>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-xs-4">
                                <button id="btn_resolve" type="button" name="btn_resolve">Resolve</button>
                                <button id="btn_resolve_lucky" type="button" name="btn_resolve_lucky">I'm gonna be lucky
                                </button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
            <div id="message_banner" hidden></div>
            <div id="resolution_results"></div>
        </div>
    </div>
</body>
</html>