<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prefix Registration</title>
    <script type="application/javascript">
        // Environment
        var prefixRegistrationWebServiceHost = "{{registry_host}}";
        var prefixRegistrationWebServicePort = "{{registry_port}}";
    </script>
    <script type="application/javascript"
            src="http://js-identifiers-org.s3.us-east-1.amazonaws.com/identifiersjs/identifiers.js" async>
    </script>
    <script type="application/javascript" src="/static/js/prefix_registration_home.js"></script>

</head>
<body>

</body>
</html>