<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prefix Registration</title>
    <script type="application/javascript">
        // Environment
        var prefixRegistrationWebServiceHost = "{{registry_host}}";
        var prefixRegistrationWebServicePort = "{{registry_port}}";
    </script>
    <script type="application/javascript"
            src="http://js-identifiers-org.s3.us-east-1.amazonaws.com/identifiersjs/identifiers.js" async>
    </script>
    <script type="application/javascript" src="/static/js/prefix_registration_home.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/prefix_registration_home.css">
</head>
<body>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <div id="navbar_identifiers_heading" class="row justify-content-center align-items-center">
                <div id="navbar_logo_area" class="col-xs-5" style="margin: 0px -10px 5px 15px">
                    <a class="navbar-brand" href="#">
                        <img src="static/img/identifiers_logo.png" width="30" height="30" alt="">
                    </a>
                </div>
                <div id="navbar_logo_text" class="col-xs-5" style="margin: 5px 10px 0px 0px">
                    <h3>Identifiers.org</h3>
                </div>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="https://identifiers.org">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Resolution Service</a>
        </li>
    </ul>
</nav>
<div class="container" style="margin: 0px 15px 0px 35px">
    <!-- <div class="container"> -->
    <div class="row justify-content-center align-items-center">
        <div id="prefix_registration_form_title">
            <h1>Prefix Registration</h1>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div id="prefix_registration_form_body">
            <form>
                <div class="form-group">
                    <label for="prefixRegistrationName">Name</label>
                    <input class="form-control" id="prefixRegistrationName"
                           placeholder="Name of the resource">
                    <small id="nameHelp" class="form-text text-muted">Enter the name of the resource, Example: Protein Data Bank
                    </small>
                </div>
                <div class="form-group">
                    <label for="prefixRegistrationDescription">Description</label>
                    <input class="form-control" id="prefixRegistrationDescription"
                           placeholder="One or more sentences describing the resource">
                    <small id="prefixRegistrationDescriptionHelp" class="form-text text-muted">Example: The Protein Data Bank is the single worldwide archive of structural data of biological macromolecules.
                    </small>
                </div>
                <div class="form-group">
                    <label for="prefixRegistrationHomePage">Home Page</label>
                    <input class="form-control" id="prefixRegistrationHomePage"
                           placeholder="URL to the resource Home Page">
                    <small id="prefixRegistrationHomePageHelp" class="form-text text-muted">A URL describing the resource. Example: http://www.pdbe.org/
                    </small>
                </div>
                <div class="form-group">
                    <label for="prefixRegistrationOrganization">Organization</label>
                    <input class="form-control" id="prefixRegistrationOrganization"
                           placeholder="Name of the providing organization">
                    <small id="prefixRegistrationOrganizationHelp" class="form-text text-muted">Example: European Bioinformatics Institute, Hinxton, Cambridge, UK
                    </small>
                </div>
                <div class="form-group">
                    <label for="prefixRegistrationPreferredPrefix">Preferred Prefix</label>
                    <input class="form-control" id="prefixRegistrationPreferredPrefix"
                           placeholder="Preferred Prefix">
                    <small id="nameHelp" class="form-text text-muted">Character string meant to precede the colon in resolved identifiers. No spaces or punctuation, only letters, numbers and underscores, and it must start with a letter. Example: pdb
                    </small>
                </div>
                <div class="form-group">
                    <label for="prefixRegistrationResourceAccessRule">Resource Access Rule</label>
                    <input class="form-control" id="prefixRegistrationResourceAccessRule"
                           placeholder="Type in your resource access rule here">
                    <small id="nameHelp" class="form-text text-muted">A URL-like string specifying a rule for resolving this class of identifier. This rule should contain the substring "{$id}", which is a placeholder for the local identifier. Example: http://www.ebi.ac.uk/pdbe/entry/pdb/{$id}
                    </small>
                </div>
                <div class="form-group">
                    <label for="prefixRegistrationExampleIdentifier">Example Identifier</label>
                    <input class="form-control" id="prefixRegistrationExampleIdentifier"
                           placeholder="Type in an example identifier">
                    <small id="nameHelp" class="form-text text-muted">Example: 2gc4
                    </small>
                </div>
                <div class="form-group">
                    <label for="prefixRegistrationRegexPattern">Regex Pattern</label>
                    <input class="form-control" id="prefixRegistrationRegexPattern"
                           placeholder="Type in your regular expression here">
                    <small id="nameHelp" class="form-text text-muted">A regular expression specifying the form of string expected for this identifier. Example: ^[0-9][A-Za-z0-9]{3}$
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>