/* Styling for the app search home page */
/* Author: Manuel Bernal Llinares <mbdebian@gmail.com> */
.searchResultItem {
    margin: 0px 0px 25px 0px;
}

.searchResultAccessUrl {
}

.searchResultAccessUrlText {
    font-size: 14px;
    color: #006621;
    font-style: normal;
    margin: 0px 0px 0px 0px;
}

.searchResultInstitution {
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}

.searchResultRecommendationIndex {
    margin: 0px 0px 0px 0px;
}

.searchResultLocation {
    margin: 0px 0px 0px 0px;
}