/* Styling for the app search home page */
/* Author: Manuel Bernal Llinares <mbdebian@gmail.com> */
.searchResultItem {
    margin: 0px 0px 25px 0px;
}

.searchResultAccessUrl {
    line-height: 1;
}

.searchResultAccessUrlText {
    font-size: 14px;
    color: #006621;
    font-style: normal;
    line-height: 1.1;
}

.searchResultInstitution {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    word-wrap: break-word;
}

.searchResultRecommendationIndex {
    font-size: 14px;
    line-height: 1.2;
    word-wrap: break-word;
}

.searchResultLocation {
    font-size: 14px;
    line-height: 1.2;
    word-wrap: break-word;
}